
:root {
  /* Colors  Primary */
--Blue : hsl(246, 80%, 60%);
--Light-red-work: hsl(15, 100%, 70%);
--Soft-blue-play: hsl(195, 74%, 62%);
--Light-red-study: hsl(348, 100%, 68%);
--Lime-green-exercise: hsl(145, 58%, 55%);
--Violet-social: hsl(264, 64%, 52%);
--Soft-orange-self-care: hsl(43, 84%, 65%);

/* Colors  Neutral */
--Very-dark-blue: hsl(226, 43%, 10%);
--Dark-blue: hsl(235, 46%, 20%);
--Desaturated-blue: hsl(235, 45%, 61%);
--Pale-Blue: hsl(236, 100%, 87%);
}

/*Typography
- Font size: 18px (card titles e.g. Work, Play)
*/

*{
  font-family: rubik;
}

body {
background-color: var(--Very-dark-blue); 
display: flex;
margin: 150px 200px 100px 200px;
}



.perfil{
    background-color: var(--Dark-blue);
    border-radius: 10px;
    width: 100%;
}

.session-perfil-encabezado{
  background-color: var(--Blue);
  border-radius: 10px;
  color: white;
  padding: 25px 25px 14px 25px;
}

.session-perfil-encabezado img{
  width: 40%;
  border: 2px solid white;
  border-radius: 50px;
}

.session-perfil-descripcion{
  color: white;
  padding: 10px 25px 15px 25px;
}

.session-perfil-descripcion p:hover{
  color: white;
  font-size: 13px
}

/*Letter*/

.Letter-small-descripcion{
  color: var(--Pale-Blue);
  font-size: 10px;
  margin: 0px;
  padding-top: 25px;
}

.Letter-big{
  margin: 0px;
  font-size: 25px;
  color: var(--Pale-Blue);
  padding-bottom: 25px;
}

.Letter-small{
  font-size: 10px;
  color: var(--Desaturated-blue);
}

/* Actividades */

.actividades iframe{
  position: absolute;
  top: 152px;
}

.actividades-cuerpo{
  background-color: var(--Dark-blue);
  border-radius: 10px;
  padding: 0px 25px 15px 25px;
  position: relative;
}


.actividad{
  color: white;
  display: flex;
  justify-content: space-between;
}

.Letter-hora{
  margin: 0px;
  font-size: 30px;
  color: white;
}

.Letter-lastWeek{
  color: var(--Pale-Blue);
  font-size: 10px;
  margin: 0px;
  padding: 5px 0px 5px 0px;
}

.seccion-daily{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;   /**/
}

.actividades-cuerpo:hover{
  background-color: var(--Desaturated-blue);
}


.seccion-daily section{
  margin-bottom: 20px;
  margin-left: 5px;
}


/**/
.actividades{
  background-color: var(--Light-red-work);
  background-image: url('/images/icon-work.svg');
  background-repeat: no-repeat, repeat;
  border-radius: 11px; 
  padding-top: 30px;
  width: 180px;
}

.actividades2{
  background-color: var(--Soft-blue-play);
  background-image: url('/images/icon-play.svg');
  background-repeat: no-repeat, repeat;
  border-radius: 11px; 
  padding-top: 30px;
  width: 180px;
}

.actividades3{
  background-color: var(--Light-red-study);
  background-image: url('/images/icon-study.svg');
  background-repeat: no-repeat, repeat;
  border-radius: 11px; 
  padding-top: 30px;
  width: 180px;
}

.actividades4{
  background-color: var(--Lime-green-exercise);
  background-image: url('/images/icon-exercise.svg');
  background-repeat: no-repeat, repeat;
  border-radius: 11px; 
  padding-top: 30px;
  width: 180px;
}

.actividades5{
  background-color: var(--Violet-social);
  background-image: url('/images/icon-social.svg');
  background-repeat: no-repeat, repeat;
  border-radius: 11px; 
  padding-top: 30px;
  width: 180px;
}

.actividades6{
  background-color: var(--Soft-orange-self-care);
  background-image: url('/images/icon-self-care.svg');
  background-repeat: no-repeat, repeat;
  border-radius: 11px; 
  padding-top: 30px;
  width: 180px;
}

@media only screen and (max-width: 582px){

    body{
      display: block;
      margin: 50px 70px 0px 70px;
    }

    .session-perfil-encabezado{
      display: flex;
    }

    .session-perfil-encabezado img {
      border: 0px;
      height: 60px;      
      padding-top: 10px;
      position: relative;
      width: 60px;
    }

    .Letter-small-descripcion{
        font-size: 12px;
    }

    .Letter-big{
      font-size: 17px;
    }

    .perfil-descripcion{
      margin-left: 15px;
    }

    .session-perfil-descripcion{
      display: flex;
      justify-content: space-between;
      padding: 18px;
    }

    .Letter-small{
      font-size: 15px;
      margin: 0px;
    }


    .seccion-daily{      
      display: block;
      margin-top: 20px;
    }

    .seccion-daily section{
      margin-left: 0px;
    }

    .actividades{
      width: 100%;
    }

    .actividades2{
      width: 100%;
    }

    .actividades3{
      width: 100%;
    }

    .actividades4{
      width: 100%;
    }

    .actividades5{
      width: 100%;
    }

    .actividades6{
      width: 100%;
    }

    .descripcion-hora{
      display: flex;
      justify-content: space-between;
    }

    .Letter-lastWeek{
      display: flex;
      align-items: center;
    }

}