<div class="perfil">
  <div class="session-perfil-encabezado">
      <img src="/images/image-jeremy.png" alt=""> 
      <div class="perfil-descripcion">
        <p class="Letter-small-descripcion">Report for</p>
        <p class="Letter-big">Jeremy Robson</p>
      </div>
  </div>

  <div class="session-perfil-descripcion">
      <p class="Letter-small">Daily</p>
      <p class="Letter-small">Weekly</p>
      <p class="Letter-small">Monthly</p>
  </div>
</div> 
