<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  
  <!--session datos generales-->
  <section>
    <%- include ('partials/head') %> 
  </section>
    
   <!--session datos de las actividades-->
  <section class="seccion-daily">
      <section>
       <%- include ('partials/complementocuerpo') %> 
      </section>
  </section>

</body>
</html>