<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  
  <section>
      <div class="perfil">
        <div class="session-perfil-encabezado">
            <img src="/images/image-jeremy.png" alt="">
            <div class="perfil-descripcion">
              <p class="Letter-small-descripcion">Report for</p>
              <p class="Letter-big">Jeremy Robson</p>
            </div>
        </div>

        <div class="session-perfil-descripcion">
            <p class="Letter-small">Daily</p>
            <p class="Letter-small">Weekly</p>
            <p class="Letter-small">Monthly</p>
        </div>
      </div>
  </section>
  
  <section class="seccion-daily">
   <!--session 1-->

      <section>
        <div class="actividades">  

          <div class="actividades-cuerpo">
            <div class="actividades-encabezado">
              <div class="actividad">
                  <p>Work</p>
                  <p>...</p>
              </div>
              <div class="descripcion-hora">
                  <p class="Letter-hora">32hrs</p>
                  <p class="Letter-lastWeek">Last Week - 36hrs</p>
              </div>
            </div>    

          </div>          
        </div>
      </section>

      <!--session 2-->
      <section>
        <div class="actividades">  

          <div class="actividades-cuerpo">
            <div class="actividades-encabezado">
              <div class="actividad">
                  <p>Play</p>
                  <p>...</p>
              </div>
              <div class="descripcion-hora">
                  <p class="Letter-hora">10hrs</p>
                  <p class="Letter-lastWeek">Last Week  - 8hrs</p>
              </div>
            </div>    

          </div>          
        </div>
      </section>


      <!--session 3-->
      <section>
        <div class="actividades">  

          <div class="actividades-cuerpo">
            <div class="actividades-encabezado">
              <div class="actividad">
                  <p>study</p>
                  <p>...</p>
              </div>
              <div class="descripcion-hora">
                  <p class="Letter-hora">4hrs</p>
                  <p class="Letter-lastWeek">Last Week  - 7hrs</p>
              </div>
            </div>    

          </div>          
        </div>
      </section>

      <!--session 4-->
      <section>
        <div class="actividades">  

          <div class="actividades-cuerpo">
            <div class="actividades-encabezado">
              <div class="actividad">
                  <p>Exercise</p>
                  <p>...</p>
              </div>
              <div class="descripcion-hora">
                  <p class="Letter-hora">4hrs</p>
                  <p class="Letter-lastWeek">Last Week  - 5hrs</p>
              </div>
            </div>    

          </div>          
        </div>
      </section>


      <!--session 5-->
      <section>
        <div class="actividades">  

          <div class="actividades-cuerpo">
            <div class="actividades-encabezado">
              <div class="actividad">
                  <p>Social</p>
                  <p>...</p>
              </div>
              <div class="descripcion-hora">
                  <p class="Letter-hora">5hrs</p>
                  <p class="Letter-lastWeek">Last Week  - 10hrs</p>
              </div>
            </div>    

          </div>          
        </div>
      </section>


      <!--session 6-->

      <section>
        <div class="actividades">  

          <div class="actividades-cuerpo">
            <div class="actividades-encabezado">
              <div class="actividad">
                  <p>Self Care</p>
                  <p>...</p>
              </div>
              <div class="descripcion-hora">
                  <p class="Letter-hora">2hrs</p>
                  <p class="Letter-lastWeek">Last Week  - 2hrs</p>
              </div>
            </div>    

          </div>          
        </div>
      </section>

  </section>

</body>
</html>